/* * {
  font-family: Roboto-condensed bold italic;
} */

* {
  font-style: italic;
  text-transform: uppercase;
}

label,
form button {
  display: block;
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

nav .active {
  color: chartreuse;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  /* display: inline-block; */
}

.profile-main h2 {
  padding-top: 50px;
}

label,
form button {
  display: block;
}

form {
  margin-top: 20px;
  /* padding-top: 20px; */
}

.video-container {
  position: relative;
  width: 500px;
  height: 250px;
}

.other-video-container {
  position: relative;
  width: 500px;
  height: 250px;
}

.video-wrapper {
  position: relative;
}

.in-funding-video {
  width: 500px;
}

.in-production-video {
  position: absolute;
  z-index: -1;
  width: 500px;
  /* height: 250px; */
}

.countdown-video {
  z-index: 12;
  width: 323px;
  /* height: 140px; */
  margin-left: 107px;
}

.user-video {
  position: absolute;
  width: 330px;
  top: 0;
  left: 100px;
}

.flickering {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
}

.landing-background {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.countdown-numbers {
  z-index: 14;
  font-size: 35px;
  margin-left: 180px;
  margin-top: 0px;
}

.finished-user-video {
  width: 80%;
  margin-left: 100px;
}

/* label,
form button {
  display: block;
} */
